.vfx-scanlines-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}

.vfx-scanlines {
  overflow: hidden;
  mix-blend-mode: difference;
  pointer-events: none;
}

.vfx-scanlines::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  animation:
          fudge 7s ease-in-out alternate infinite,
          lines 4s linear forwards infinite;
}

.no-vfx-container, .vfx-container {
  height: 100%;
  width: 100%;
  overflow: visible;
  pointer-events: auto;
}

.vfx-container {
  animation:
          blur 2.05s -1.1s ease-out alternate infinite,
          glitch-1 6.05s 1s ease-out reverse infinite,
          glitch-1 5.05s ease-out forwards infinite,
          glitch-1 1.05s 0.166s ease-out alternate infinite,
          glitch-2 1.5s 0.2s ease-in alternate infinite,
          glitch-3 4s 0.71s steps(5, end) forwards infinite;
}

@keyframes fudge {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2%);
  }
}

@keyframes lines {
  from {
    background: repeating-linear-gradient(
                    to bottom,
                    transparent 0%,
                    rgba(255, 255, 255, 0.05) .5%,
                    transparent 1%
    );
  }
  to {
    background: repeating-linear-gradient(
                    to bottom,
                    transparent 0%,
                    rgb(135, 30, 165, 0.25) .25%,
                    transparent .75%,
                    transparent 1%
    );
  }
}

@keyframes blur {
  0% {filter: none}
  2% {filter: none}
  2.0001% {filter: blur(4px)}
  3% {filter: none}

}

@keyframes noise-1 {
  $steps: 30;
  @for $i from 1 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes noise-2 {
  $steps: 30;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}px 0 #{$bottom}px 0);
    }
  }
}

@keyframes glitch-1 {
  1%{
    transform: rotateX(10deg) skewX(90deg);
  }
  2%{
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes glitch-2 {
  4%{
    transform: rotateX(0deg) skewX(0deg);
  }
  5%{
    transform: rotateX(20deg) skewX(70deg);
  }
  6%{
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes glitch-2 {
  9%{
    transform: translateX(0) translateY(0);
  }
  9.0001%{
    transform: translateX(20px) translateY(50px);
  }
  10%{
    transform: translateX(0) translateY(0);
  }
  20%{
    transform: translateX(0) translateY(0);
  }
  20.0001%{
    transform: translateX(10px) translateY(-5px);
  }
  21%{
    transform: translateX(0) translateY(0);
  }
  21.0001%{
    transform: translateX(-10px) translateY(1px);
  }
  22%{
    transform: translateX(0) translateY(0);
  }
}
